<h1>Let's battle!</h1>

<form action='/players' method='post'>
<input type='text' name='player_1' placeholder="player_1 enter name">
<input type='text' name='player_2' placeholder="player_2 enter name">
<input type='submit' name='Submit'>
</form>